.nav-font {
    font-size: 20px;
}

.backg-lp {
    background-color: #fceae8;
    border-radius: 10px;
}

section {
    margin-bottom: 3%;
}

.carousel-item {
    padding: 20px 40px;
}

.price {
    color: #ff136f;
}

.buy_btn {
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 9px 25px;
}

.cat1,
.cat2,
.cat3 {
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat1 {
    background-color: aqua;
}

.cat2 {
    background-color: #ff136f;
}

.cat3 {
    background-color: lightblue;
}

.categories h1 {
    color: #fff;
}

.categories img {
    height: 150px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}

.card-footer {
    background-color: #fff;
    border-top: none;
}

#subscribe {
    background-color: #fceae8;
    height: 300px;
}

#subscribe h6 {
    color: gray;
}

.align_txt {
    text-align: center;
}

.m_10 {
    margin-top: 10px;
}

footer {
    text-align: center;
}